---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <!-- <CallToAction /> -->
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Powered by <a href="https://astro.build/">Astro</a> with theme <a href="https://github.com/markteekman/accessible-astro-starter">Accessible-Astro</a>. Made with ❤️ by <a
          href="https://github.com/truc0">truc0</a>.
      </p>
    </div>
  </section>
</footer>
